<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.uniza.fri.janmokry.karnaughmap">

    <application
        android:name=".ProjectApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".activity.ListOfProjectsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.AdjustProjectActivity"
            android:label="@string/title_activity_adjust_project"
            android:parentActivityName=".activity.ListOfProjectsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sk.uniza.fri.janmokry.karnaughmap.activity.ListOfProjectsActivity" />
        </activity>

        <activity
            android:name=".activity.ProjectActivity"
            android:parentActivityName=".activity.ListOfProjectsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sk.uniza.fri.janmokry.karnaughmap.activity.ListOfProjectsActivity" />
        </activity>

    </application>

</manifest>